<div ng-show="msgs['outbox'].length == 0">
    <center>
        <p class="md-body-2">
            You don't have any messages yet prepared that could be send out.
        </p>

        <div layout="row" layout-align="center">
            <md-button flex-xs flex-gt-xs="33" class="md-primary md-raised" ng-click="createNewMessage()">
                <md-icon>mail</md-icon>
                Create new message
            </md-button>
        </div>

    </center>
</div>

<div ng-show="!user.trigger.enabled && msgs['outbox'].length>0">
    <center>
        <p class="md-body-2">
            You have <b>{{msgs['outbox'].length}}</b> messages that could be send out but nothing will be done as the
            Trigger is disabled.
        </p>

        <div layout="row" layout-align="center">
            <md-button flex-xs flex-gt-xs="33" class="md-primary md-raised" ng-click="configureTrigger()">
                <md-icon>settings</md-icon>
                Configure trigger
            </md-button>
        </div>
    </center>
</div>

<div class="md-body-1" ng-show="user.trigger.enabled && msgs['outbox'].length>0">

    <div layout-xs="column" layout="row" layout-align="center center">
        <div flex>
            <p>Verification messages will be sent to:</p>
            <ul style="list-style-type:none">
                <li><b>{{MyUtils.get_valid_emails(triggerInternal.xemails).join(", ")}}</b> after {{trigger.x}}
                    {{trigger_tu}}
                </li>
                <li><b>{{MyUtils.get_valid_emails(triggerInternal.xemails + ";" +
                    triggerInternal.yemails).join(",")}}</b>
                    after
                    {{trigger.x + trigger.y}} {{trigger_tu}}
                </li>
                <li><b>{{MyUtils.get_valid_emails(triggerInternal.xemails + ";" + triggerInternal.yemails + ";" +
                    triggerInternal.zemails).join(", ")}}</b> after {{trigger.x + trigger.y + trigger.z}} {{trigger_tu}}
                </li>
            </ul>
            <p>
                from the date of your last activity in the system. Eventually <b>after {{trigger.x + trigger.y +
                trigger.z + trigger.w}} {{trigger_tu}} </b> (at the present moment it is
                {{moment(trigger.last_access).add(trigger.x + trigger.y + trigger.z + trigger.w, trigger.timeUnit) |
                asDate}}) following messages will be send out:
            </p>
        </div>
        <md-button class="notifs-btn" ng-click="configureTrigger()">
            <md-icon>settings</md-icon>
            <md-tooltip md-delay="100">Modify Trigger</md-tooltip>
        </md-button>
    </div>

    <ol>
        <li ng-repeat="msg in msgs['outbox'] | orderBy:'-creationTime'">

            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="notifs-btn">
                    <md-icon>mail</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="do_preview(msg);">
                            <md-icon>pageview</md-icon>
                            {{::i18n("%btn.preview%")}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="do_edit(msg);">
                            <md-icon>edit</md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <b>{{MyUtils.title(msg.title)}}</b>, to: {{::MyUtils.recipients(msg.recipients)}}

            <span ng-show="msg.recipients_isEmpty">
                <br/>
                <i class="fa fa-fw fa-exclamation"></i>
                This message will not be send out as the recipients are not defined.
            </span>

            <span ng-if="msg.lang == 'en'">
                <img src="gb-flag.jpg">
            </span>

            <span ng-if="msg.lang == 'pl'">
                <img src="p-flag.png">
            </span>

            <span ng-repeat="file in msg.files">
                <br/>
                <i class="fa fa-fw fa-paperclip"></i>{{file.name}}
            </span>

            <span ng-show="msg.type=='outbox' && !msg.recipients_isEmpty && msg.recipients_isValidAddresses.length > 0">
                <br/>
                <i class="fa fa-fw fa-exclamation"></i>
                There is an invalid email address in the 'To' filed: <b>{{msg.recipients_isValidAddresses}}</b>
            </span>

            <span ng-show="msg.passwordEncryption">
                <br/>
                <i class="fa fa-fw fa-lock"></i>
                The message is encrypted. Make sure the recipients know the password to the given hint: <i>{{msg.passwordEncryption.hint}}</i>
            </span>
        </li>
    </ol>

    <div ng-show="!user.validAesKey">
        <p class="md-body-1">
            <i class="fa fa-fw fa-exclamation"></i>
            Make sure the recipients know your encryption key, otherwise displaying messages won't be possible.
        </p>
    </div>

    <p>
        If the recipient does not open the message within 14 days after sending out, we will contact him manually.
        After 7 days from the date of the opening the last message, your account with all your data will be deleted
        permanently from the system.
    </p>

    <div ng-show="msgs['drafts'].length > 0">
        <hr/>
        <p class="md-body-1">
            <i class="fa fa-fw fa-info"></i>
            You have <b>{{msgs['drafts'].length}}</b> messages in the folder
            <i>Messages/{{::i18n("%msg.folder.drafts%")}}</i>
            which <b>won't</b> be send out. If you want them to also be sent out move them to the folder <i>Messages/{{::i18n("%msg.folder.outbox%")}}</i>.
        </p>
    </div>

</div>