<center>
    <h1 class="md-display-2">
        We will deliver messages<br/>
        <small>after you pass away</small>
    </h1>
</center>

<center>
    <img class="img-responsive" src="n-LIFE-AFTER-DEATH-628x314.jpg" style="border-radius: 4px;">
</center>

<center>
    <p class="md-headline">If you would like to pass some information after your death</p>
    <p class="md-body-2">
        send a message to your special people, pass a treasure map, say something that
        you wanted for a long time but was afraid - this service is for you.
    </p>
</center>

<hr/>

<center>
    <p class="md-headline">We will send your messages and make sure they have been received</p>
    <p class="md-body-2">
        Messages can include text, images, recorded videos or really any files, so, you can create your final
        goodbye message.
    </p>
</center>

<hr/>

<center>
    <p class="md-headline">It's an easy way to be prepared just in case something bad happens</p>
    <p class="md-body-2">
        Especially when you are an old person, person before surgery, extreme sports enthusiast,
        motorbiker, doing high risk occupancy job, going on a dangerous trip, doing a dangerous deed, carrying a
        secret.
    </p>
</center>

<hr/>

<center>
    <p class="md-headline">Your data is safe with us</p>
    <p class="md-body-2">
        User's data is encrypted by algorithm AES with 256 bit key and RSA cryptosystem with 2048-bit key.
        At any time you can withdraw your encryption key and deliver it to the recipients via different channel - thus
        data becomes unreadable for us and only recipients will be able to read it entering correct encryption key.
        Our role is then to publish and notify recipients about stored messages when the time comes.
    </p>
</center>

<hr/>

<center>
    <h1 id="how_it_works" class="md-display-2">How does it work ?</h1>
</center>

<p>

    <span class="md-headline">Step 1: message preparation</span>
<ul>
    <li>the user prepares a set of electronic messages to be send out in case of his death</li>
    <li>the user configures the procedure that checks whether he/she is still alive</li>
</ul>

<span class="md-headline">Step 2: keeping watch</span>
<ul>
    <li>The Service at a specified time intervals sends to the user email containing an unique link</li>
    <ul>
        <li>clicking on this link confirms he/she is alive</li>
        <li>if the link is not clicked for an specified period of time, after several reminders, The Service proceeds to
            Step 3 - message release.
        </li>
    </ul>
</ul>

<span class="md-headline">Step 3: message release</span>
<ul>
    <li>The Service publishes user's messages and and make them available to the selected recipients only</li>
    <li>The Service keeps a record of whether every recipient has opened the message prepared for him/her, if after 14
        days, the
        message hasn't been opened, we make a manual attempt to contact the recipient
    </li>
    <li>after 7 days from the date of the opening the last message, the user's account and all the data is
        permanently removed
    </li>
</ul>
</p>

<hr/>

<center>
    <h1 id="pricing" class="md-display-2">How much does it cost ?</h1>
</center>
<p>Full functionality of the service is available free of charge for the first 30 days after registration. Then you
    are
    asked to pay an annual fee in the equivalent amount of $10 USD.
</p>

<hr/>

<center>
    <h1 class="md-display-2">I'm interested, what's next?</h1>
</center>
<span ng-controller="loginCtrl">
    <p>
        Visit <a href ng-click="open_faq()">
            {{::i18n("%menu.faq%")}}</a> or <a href ng-click="open_security()">
            {{::i18n("%menu.security%")}}</a> section to learn more or

        <a href ng-click="showRegisterUserDialog()">create an account</a>.

    </p>
</span>
