<div ng-if="user!=null">
    <p class="md-body-1">Drogi Użytkowniku <b>{{user.username}}</b>, jest kilka niezbędnych informacji z którymi musisz
        się zapoznać przed rozpoczęciem korzystania z serwisu. W skrócie:
    </p>
</div>

<p class="md-body-1">
    1 &sect;) Dysponujesz pewną przestrzenią dyskową na przechowanie załączników, nagrań oraz wiadomości<br/>
    2 &sect;) Nie możesz przesyłać plików ani umieszczać treści niezgodnych z prawem<br/>
    3 &sect;) Właścicielem utworzonych wiadomości, wgranych załączników i plików wideo jesteś tylko i wyłącznie Ty<br/>
    4 &sect;) Bierzesz pełną odpowiedzialność za skutki wysyłanych wiadomości</br>
    5 &sect;) Pomimo naszych wszelkich starań, nie dostajesz żadnej gwarancji że Serwis działa, używasz go na własne ryzyko<br/>
    6 &sect;) Serwis nie przetwarza żadnych danych użytkownika (w szczególności utworzonych wiadomości i przesłanych
    załączników) w żadnym innym celu oprócz możliwości wysłania wiadomości zdefiniowanym adresatom<br/>
    7 &sect;) Serwis nie przekazuje, nie udostępnia ani nie sprzedaje danych użytkowników żadnym podmiotom
    zewnętrznym<br/>
    8 &sect;) Serwis używa plików cookies w celu śledzenia sesji użytkownika<br/>
    9 &sect;) Serwis jest oprogramowaniem open-source, kod źródłowy jest <b><a
        href="https://github.com/witoza/postscriptum.co" target="_blank">publicznie dostępny</a></b><br/>
    10 &sect;) Serwis zrzeka się jakiejkolwiek odpowiedzialność z tytułu wysłanych pośmiertnie wiadomości</br>
    11 &sect;) Przed rozpoczęciem użytkowania musisz zaakaceptować <b><a href="/tos/details.html" target="_blank">szczegółowy
    regulamin</a></b><br/>
</p>

<div ng-if="user==null">
    <center>
        <p class="md-body-2">Jeśli nie akceptujesz tych zasad, prosze opuść tę stronę.</p>
    </center>
</div>
