<div ng-if="user!=null">
    <p class="md-body-1">Dear user <b>{{user.username}}</b>,
        there are several critical pieces of information which you must be aware of before using this service. In a nutshell:
    </p>
</div>

<p class="md-body-1">
    1 &sect;) You are granted a certain amount of storage space for the storage of your data: attachments, recordings and messages<br/>
    2 &sect;) You are not allowed to upload illegal files or post illegal content<br/>
    3 &sect;) You are the sole owner of the created messages, uploaded attachments and recorded videos<br/>
    4 &sect;) You take the whole responsibility for the effects of the messages sent out<br/>
    5 &sect;) Despite our best efforts, you do not get any guarantee that The Service is running, you use it at your own risk<br/>
    6 &sect;) The Service does not process any user data (in particular, created messages and uploaded attachments) in any way but to be able to send out messages to defined recipients<br/>
    7 &sect;) The Service does not give, share or sell user data to any outside parties<br/>
    8 &sect;) The Service uses cookies to track user sessions<br/>
    9 &sect;) The Service is an open-source software, the source code is <b><a href="https://github.com/witoza/postscriptum.co" target="_blank">publicly available</a></b><br/>
    10 &sect;) The service disclaims any responsibility for the message sent you after your death<br/>
    11 &sect;) Before you start using the Service you have to accept <b><a href="/tos/details.html" target="_blank">detailed Terms of Service document</a></b><br/>
</p>

<p class="md-body-2">You have to accept <b>Terms of Service</b> to use this website.</p>

<div ng-if="user==null">
    <center>
        <p class="md-body-2">If you do not accept the rules above, please leave this page</p>
    </center>
</div>
